/**
 * @Author :  JChen(尹士勇)
 * @Email  :  1156546473@qq.com
 * @Date   :  2014/8/20
 * @Time   :  10:19
 * @Desc   :  
 */

/**
 * basic reset
 */
html {
    width: 100%;
    height: 100%;
}
body, ul, ol, input{
    margin: 0;
    padding: 0;
}
body{
    font: normal 12px/1.5 arial, sans-serif;
}
.wrapper {
    background: #27afea url("http://simg1.qunarzz.com/site/images/flight/flight_lowprice/bg_lp.jpg") no-repeat;
}
ol, ul, button {
    list-style: none;
}
a{
    text-decoration: none;
}
b{
    font-weight: normal;
}
input {
    vertical-align: middle;
    margin: -2px 2px 0 0;
}

/**
 * clear-fix
 */
.clear-fix{
    *zoom: 1;
}
.clear-fix:before, .clear-fix:after{
    content: '';
    display: table;
    line-height: 0;
}
.clear-fix:after{
    clear: both;
}

/**
 * search style
 */
.content {
    width: 980px;
    margin: 0 auto;
    padding: 8px 0;
}
.search {
    background-color: #fff;
    padding: 10px 15px 0 15px;
    margin-bottom: 8px;
}
.search-type {
    border-bottom: 1px solid #dedede;
    height: 36px;
    line-height: 26px;
    padding: 0 2px 0 10px;
    margin: 0 0 5px 145px;
}
.type li {
    float: left;
}
.type a {
    display: block;
    padding: 0 20px 10px;
    color: #098483;
    font-size: 14px;
    font-weight: bold;
}
.active a {
    color: #3f3f3f;
    cursor: default;
    background: url("http://simg1.qunarzz.com/site/images/flight/home/bg_tabsel.png") repeat-x scroll 100% 100%;
}
.tips span {
    color: #fe0053;
}
.tips {
    float: right;
}
.search-detail {
    position: relative;
    margin-left: 160px;
    padding-bottom: 12px;
}
.line {
    padding: 5px 0 13px 55px;
}
.input {
    padding-left: 20px;
    margin-bottom: 6px;
}
.line label {
    font-size: 14px;
    margin-right: 20px;
}
.input-name,
.name-hidden {
    width: 45px;
    padding: 4px 5px 0 0;
    font-size: 14px;
    font-weight: bold;
}
.name-hidden{
    visibility: hidden;
}
.date{
    margin-left: 25px;
}
.select-date {
    margin-right: 20px;
}
.input input {
    width: 194px;
    border: 1px solid #abadb3;
    outline: none;
    padding: 5px;
    height: 20px;
    font: normal 14px/18px tahoma,arial,sans-serif;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0 0 5px #e2e2e2 inset;
}
.input select {
    border: 1px solid #abadb3;
    height: 32px;
    line-height: 20px;
    font-size: 14px;
    outline: none;
    vertical-align: middle;
    padding: 5px 2px 5px 5px;
    margin: -1px 0 0 -6px;
    box-shadow: 0 0 5px #e2e2e2 inset;
}
.search-btn {
    position: relative;
    top: 2px;
    border: 0;
    cursor: pointer;
    color: #fff;
    font: 16px/28px microsoft yahei;
    height: 30px;
    text-align: center;
    width: 100px;
    background: #ff8200;
    background: linear-gradient(top,#ff9100 0,#ff8a00 30%,#ff7b00 60%,#ff7100 100%);
    background: -moz-linear-gradient(top,#ff9100 0,#ff8a00 30%,#ff7b00 60%,#ff7100 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff9100),color-stop(30%,#ff8a00),color-stop(60%,#ff7b00),color-stop(100%,#ff7100));
    background: -webkit-linear-gradient(top,#ff9100 0,#ff8a00 30%,#ff7b00 60%,#ff7100 100%);
    background: -o-linear-gradient(top,#ff9100 0,#ff8a00 30%,#ff7b00 60%,#ff7100 100%);
    background: -ms-linear-gradient(top,#ff9100 0,#ff8a00 30%,#ff7b00 60%,#ff7100 100%);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.exchange,
.exchange:hover {
    background: url("http://simg1.qunarzz.com/site/images/flight/flight_search/bg_sephuan.png") no-repeat scroll 0 0;
    display: block;
    position: absolute;
    height: 36px;
    width: 22px;
    top: 56px;
    left: 261px;
    _left: 206px;
}
.exchange:hover {
    background-position: 0 -50px;
}
.search-img {
    position: absolute;
    top: -52px;
    left: -160px;
    _left: -215px;
}

/**
 * display style
 */
.result {
    overflow: hidden;
    background-color: #f2fafd;
    padding: 18px 30px;
}
.sort {
    line-height: 20px;
    margin-bottom: 10px;
}
.sort li{
    float: left;
}
.sort .more {
    float: right;
}
.more a{
    color: #666;
}
.screen {
    padding-bottom: 5px;
}
.screen-type {
    width: 80px;
    font-size: 14px;
    color: #666;
}
.list-cur {
    color: #f60;
    cursor: pointer;
    font-weight: bold;
    margin-right: 25px;
}
.list-nor {
    color: #0069ca;
    cursor: pointer;
    margin-right: 24px;
}
.arrow-down,
.arrow-up,
.ico-up,
.ico-down,
.slide-block {
    background: url("http://simg1.qunarzz.com/site/images/flight/flight_lowprice/ico_tj.png") no-repeat scroll 0 0;
}
.arrow-up, .arrow-down {
    width: 13px;
    height: 7px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
}
.arrow-up {
    background-position: 0 -20px;
}
.list-chk {
    width: 50px;
    display: inline-block;
}
.list-price {
    height: 18px;
    line-height: 18px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #f60;
}
.rmb {
    font-weight: normal;
    font-family: Arial;
    font-size: 12px;
}
.slide {
    height: 20px;
    position: relative;
}
.slide-line {
    height: 4px;
    width: 225px;
    border: 1px solid #bebebe;
    position: relative;
}
.slide-block {
    background-position: 0 -120px;
    cursor: pointer;
    width: 18px;
    height: 25px;
    display: inline-block;
    margin-left: -5px;
    position: absolute;
    top: -10px;
    left: 100%;
}
.more-detail {
    margin-bottom: 10px;
}
.sort-nav {
    border: 1px solid #c2dae4;
    background-color: #d6e0f2;
    height: 29px;
    line-height: 29px;
    padding-right: 10px;
    margin-bottom: 15px;
}
.sort-nav li {
    float: left;
}
.sort-nav span {
    display: block;
    padding: 0 30px;
}
.sort-nav a {
    display: block;
    _display: inline-block;
    _position: relative;
    _top: 1px;
    height: 29px;
    border-right: 1px solid #ccdee6;
    color: #333;
}
.sort-nav a:hover{
    background: #f2fafd;
    border-right-color: #dae1e4;
}
.sort-nav .total {
    float: right;
}
.cur {
    background-color: #f2fafd;
    border-bottom: 1px solid #f2fafd;
    border-right-color: #dae2e4;
}
.ico-up, .ico-down {
    position: relative;
    left: -1px;
}
.ico-up {
    background-position: 58px -70px;
}
.ico-down {
    background-position: 0 -90px;
}

.display {
    overflow: hidden;
    width: 920px;
}
.data-area {
    width: 939px;
    min-height: 260px;
    _height: 260px;
}
.data-area li {
    float: left;
    display: block;
    width: 219px;
    height: 120px;
    background-color: #fff;
    border-radius: 2px;
    margin: 0 15px 10px 0;
    white-space: nowrap;
    position: relative;
}
.data-area a {
    display: block;
    width: 205px;
    height: 100px;
    padding: 9px 0 9px 11px;
    color: #333;
    border: 1px solid #fff;
}
.data-area a:hover {
    box-shadow:0 0 7px #a8def5;
    border-color:#a8def5;
}
.data-price {
    line-height: 36px;
    color: #666;
}
.data-price .rmb {
    font-size: 20px;
    font-family: Arial;
}
.price {
    color: #f60;
    font-size: 36px;
    font-family: Tahoma;
}
.data-place {
    font: 20px/20px microsoft yahei;
    margin-bottom: 7px;
}
.rush {
    float: right;
    color: #f60;
    padding-right: 18px;
    font-size: 12px;
    visibility: visible;
}
.data-time {
    font-size: 14px;
}
.week {
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #3fc5ff;
    color: #fff;
}
.more-city {
    width: 103px;
    position: relative;
    z-index: 10;
}
.more-city a{
    display: block;
    cursor: pointer;
    color: #0069ca;
    padding: 0 12px;
    position: relative;
    width: 50px;
    z-index: 5;
}
.city-active a {
    border: 1px solid #abadb3;
    border-bottom: 0;
    background-color: #fff;
}
.city-wrapper {
    position: absolute;
    right: 0;
    top: 20px;
    border: 1px solid #abadb3;
    padding: 5px;
    background-color: #fff;
}
.city-area {
    width: 455px;
}
.close {
    display: block;
    float: right;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.city-tips {
    padding: 5px;
    font-size: 12px;
}
.tips-title {
    padding: 3px 0 5px;
}
.tips-nav {
    border-bottom: 1px solid #ddd;
    margin-bottom: 3px;
}
.tips-nav span{
    float: left;
    position: relative;
    bottom: -1px;
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
    color: #0069ca;
}
.tips-nav .active {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    color: #333;
}
.city-list {
    padding-left: 9px;
}
.city-list li {
    width: 20%;
    height: 25px;
    line-height: 25px;
}
.city-list a {
    color: #333;
    border: none;
}
.page {
    padding: 20px;
    line-height: 18px;
    text-align: right;
}
.page a{
    margin-right: 5px;
}
.page b{
    display: inline-block;
    margin-right: 5px;
    padding: 0 4px;
    font-weight: 700;
    font-style: normal;
    background-color: #0069ca;
    color: #fff;
}
.page .pt {
    font-family: tahoma;
    color: #0069ca;
}
.to-top {
    position: fixed;
    bottom: 100px;
    width: 80px;
    height: 80px;
    background: url(http://simg1.qunarzz.com/site/images/flight/flight_lowprice/gotop.png) no-repeat;
    cursor: pointer;
    display: block;
    z-index: 1000;
    right: 100px;
    opacity: .8;
}